backend:
  name: git-gateway
  repo: ehylam/gatsby-netlify

media_folder: static/assets
public_folder: /assets

collections:
  - name: content
    label: Content
    folder: src/pages/contents
    create: true
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "content-module"}
      - {label: Date, name: date, widget: datetime }
      - {label: "Featured Image", name: "featuredImage", widget: "image"}
      - {label: "Heading", name: "heading", widget: "string"}
      - {label: Subheading, name: "subheading", widget: "string" }
      - {label: Body, name: body, widget: "markdown" }