backend:
  name: git-gateway
  repo: ehylam/gatsby-netlify

media_folder: static/assets
public_folder: /assets

collections:
  - name: content
    label: Content
    folder: src/pages/contents
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{author}}-{{second}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "content-module"}
      - {label: Date, name: date, widget: datetime }
      - {label: "Heading", name: "heading", widget: "string"}
      - {label: Subheading, name: "subheading", widget: "string" }
      - {label: "Featured Image", name: "featuredImage", widget: "image"}
      - {label: Body, name: body, widget: "markdown" }
      - {label: "Content Module", name: "contentModule", widget: "list", fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: string}, {label: Image, name: image, widget: image}]}